{% extends 'base.html' %}


{% block title %}
    K2EX -{{ subject.title }}
{% endblock %}

{% block content %}
<div id='article-detials' class="entry-box">
    {% include '_article_info.html' %}
    <hr>
    <div>
        <p>
            {{ subject.content | safe }}
        </p>
    </div>
    <div class="article-add-info">
        <p>
            <span class="glyphicon glyphicon-time">
                主题最后编辑时间：
            </span>
            {{ subject.update_time.replace(microsecond=0) }}
        </p>
    </div>

    <hr>
    <h4 id="comments"><span class="glyphicon glyphicon-comment"> 全部回复</span></h4>
    {% include "_article_comments.html" %}
   {# <div class="pagination">
        {{ macros.pagination_widget(pagination, endpoint, id=id, fragment='#comments') }}
    </div> #}
    <h4  id="submit-comment"><span class="glyphicon glyphicon-comment"> 添加一条新回复</span></h4>
    {% include "_submit_comment.html" %}
</div>
{% endblock %}

{% block stylesheet %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/prism.css') }}" rel="stylesheet">
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/extentsion_self/codesimple_extentsion/prism.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {# <script src="{{ url_for('static', filename='js/commentReply.js') }}"></script> #}
<script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js') }}">
</script>
<script>
function undo_reply() {
    $('#reply_to').val(-1);
}
	function go_reply( name){
        $('html, body').animate({scrollTop:  $('#submit-comment').offset().top}, 800);
        $('#reply-dialog-box').remove();
        $('#reply_to').val(name);
        $('#submit-comment-container').prepend('<div class="alert alert-info alert-dismissable" id="reply-dialog-box">' +
            '<button type="button" class="close" data-dismiss="alert" onclick="undo_reply()">&times;</button>' +
            '回复给<strong><i>' + name +'</i></strong> </div>');
  }
  window.onload = function(){
    $('#follow').val(-1);
}

</script>
{% endblock %}
